<!DOCTYPE html>
<html lang="es" class="sr">
	 <head>
     <meta charset="UTF-8">
		 <title>Team Arcades</title>
		 <link rel="icon" type="image/png" href="https://teamarcades.xyz/lightlogo.png">
		 <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
		 <link rel=stylesheet href=/style.css>
		 <link rel="preconnect" href="https://teamarcades.xyz">
		 <link rel="preconnect" href="https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css">
		 <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&amp;display=swap">
		 <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&amp;display=swap">
		 <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&amp;display=swap">
		 
		 <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
		 <script src=https://unpkg.com/@popperjs/core@2></script>
		 <script src=https://unpkg.com/tippy.js@6></script>
		 <script src=//cdn.jsdelivr.net/npm/sweetalert2@11></script>
		 
		 <meta http-equiv=Content-Security-Policy content=upgrade-insecure-requests>
		 <meta http-equiv=X-UA-Compatible content="IE=edge">
		 
		 <link rel="alternate" href="https://teamarcades.xyz/" hreflang="es">
		 <link rel=canonical href="https://teamarcades.xyz">
		 <meta name=theme-color content="rgba(9, 9, 12, 1)">
		 
		 <meta name="og:locale" content="es_ES">
		 <meta property="og:type" content="article">
		 <meta property="og:site_name" content="Team Arcades">
		 <meta property="og:url" content="https://teamarcades.xyz/">
		 <meta property="og:title" content="Team Arcades - Src's Free">
		 <meta property="og:description" content="Un servicio de codificaci칩n de Discord que proporciona bots y open sources de alta calidad y gratis para todos.">
		 <meta property="og:image" content="https://discord.com/api/guilds/935157109761388554/widget.png?style=banner3">

		 <meta name="keywords" content="Team Arcades, team arcades, katira, team arcades bot, team arcades discord bots, bot multifunciones en espa침ol, invitar a Team Arcades, team arcades invitacion, team arcades docs, team arcades dashboard, team arcades web, team arcades diversion, team arcades economia, team arcades moderacion, bot de discord team arcades, katira bot, katira comandos, katira invite, team arcades invitacion, team arcades invite, katira discord, katira bot discord, team k4itrun, team arcades comandos, comandos de katira, lista de comandos Team Arcades, bot de bienvenida Discord, verdad reto discord">
		 <meta itemprop="keywords" content="Team Arcades, team arcades, katira, team arcades bot, team arcades discord bots, bot multifunciones en espa침ol, invitar a Team Arcades, team arcades invitacion, team arcades docs, team arcades dashboard, team arcades web, team arcades diversion, team arcades economia, team arcades moderacion, bot de discord team arcades, katira bot, katira comandos, katira invite, team arcades invitacion, team arcades invite, katira discord, katira bot discord, team k4itrun, team arcades comandos, comandos de katira, lista de comandos Team Arcades, bot de bienvenida Discord, verdad reto discord">
		 <meta name="robots" content="index, follow">
		 <meta name="language" content="Spanish">
		 <meta name="HandheldFriendly" content="True">
		 <meta name="MobileOptimized" content="width">
		 <meta name="revisit-after" content="3 days">
		 
		 <meta name="twitter:creator" content="@teamarcades">
		 <meta name="twitter:site" content="@teamarcades">
		 <meta property="twitter:card" content="summary_large_image">
		 <meta property="twitter:url" content="https://teamarcades.xyz/">
		 <meta property="twitter:title" content="Team Arcades - Src's Free">
		 <meta property="twitter:description" content="Un servicio de codificaci칩n de Discord que proporciona bots y open sources de alta calidad y gratis para todos.">
		 <meta property="twitter:image" content="https://discord.com/api/guilds/935157109761388554/widget.png?style=banner3">
		 <meta property="twitter:image:alt" content="Banner de Team Arcades">
		 <meta name="theme-color" content="#ddac3d">
	</head>
</html>

