<%- include('./partials/head') %> 
<%- include('./partials/nav') %> 
<html lang="en">
	<body>
		<section class=main>
			<div class=middle>
				<div class=coming-soon>
					<h1>ยก404!</h1>
					<p>Team Arcades</p>
					<div class=discord><a class=hover href=/>
						<button>Home</button>
					</a>
						</div>
					</div>
				</div>
			</section>
		</body>
	</html>
	
<%- include('./partials/foot') %>