<%- include('./partials/header') %>
<section class=main>
	<div class=middle>
		<div class=coming-soon>
			<h1>ยก404!</h1>
			<p><%= site.name %></p>
			<div class=discord>
				<a class=hover href='/'>
					<button>Home</button>
				</a>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer') %>