<%- include('./partials/header') %>
<section class="main">
	<div class="middle">
		<div class="coming-soon">
			<h1>ยก500!</h1>
			<h2>Server error</h2>
			<p>Something went wrong. Please try again later.</p>
			<div class="discord">
				<a class="hover" href='/'>
					<button>Home</button>
				</a>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer') %>