<%- include('./partials/head') %> 
<%- include('./partials/nav') %> 
<html lang="en">
		<section class=main>
			<div class=middle>
				<div class=coming-soon>
					<h1>¡BIENVENIDOS TODOS!</h1>
					<p>Team Arcades</p>
					<div class=discord>
						<a class=hover href=/api>
						<button>Sitio Oficial</button>
					</a>
						</div>
					</div>
				</div>
			</section>
</html>
<%- include('./partials/foot') %>