<%- include('./partials/header') %>
<section class="main">
	<div class="middle">
		<div class="coming-soon">
			<h1>WELCOME EVERYONE!</h1>
			<p><%= site.name %></p>
			<div class="discord">
				<a class="hover" href='/'>
					<button>Official Site</button>
				</a>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer') %>